.theme-dark {
  color: #ffffff;
}
.theme-white .container {
  background: #f5f5f5;
}
.level.is-mobile {
  display: flex;
}
.content-search {
  padding: 10px 0px;
}
.level {
  align-items: center;
  justify-content: space-between;
}
.level.is-mobile .level-left,
.level.is-mobile .level-right {
  display: flex;
}
.level-right {
  align-items: center;
  justify-content: flex-end;
}
